html {
  font-size: 12px;
  font-family: 'Potta One', cursive;
  /*зачем и здесь прописывать шрифт?, но без этого по умолчанию включится*/
  /* "this should be the rest of the output you got from Google fonts" */
 background-color: #FDF9D8;
}
body {
  width: 1140px;
  margin: 20px auto;    
  background-color: #eef9f9;
  padding: 0 20px 0px 20px;    
  border: 4px groove rgb(185, 207, 141);
  border-radius: 10px;
  text-align: center;
}
.actual-body{
  display: grid;
  grid-template-areas: "area-1 area-2"
                       "area-3 area-4"
                       "area-5 area-4"
                       "area-6 area-4"
                       "area-7 area-4"
                       "area-8 area-4"
                       "area-9 area-4"
                       "area-10 area-4"
                       "area-11 area-4"
                       "area-12 area-4"
                       "area-13 area-4"
                       "area-14 area-4"
                       "area-15 area-16";
  grid-template-rows: 40px 100px auto auto auto auto auto auto auto auto auto auto 300px;
  grid-template-columns: 80% 20%;
  width: 1000px;
  text-align: center;
}
.area-1{
  grid-area: area-1;
  text-align: justify;
}
.area-2{
  grid-area: area-2;
  display: grid;
  text-align: justify;
}
.area-3{
  grid-area: area-3;
}
.navbar-menu, .navbar-nav, .menu-li, .area-3{
  display: inline;
  font-size: 20px;
  justify-content: center;
  align-self:baseline;
}
.menu-li{
  padding: 0px 5px 0 5px;
}
.area-4{
  grid-area: area-4;
  display: grid;
  justify-content:start;
  align-self:baseline;
}
.area-5{
  grid-area: area-5;
  display: block;
  justify-self: center;
  align-self:center;
  padding: 20px 40px 40px 40px;
}
.area-6{
  grid: area-6;
  display: block;
  justify-self: center;
  align-self:center;
  max-width: 900px;
  text-align: center;
  margin: auto 30px;
}
.area-7{
  grid-area: area-7;
  display: block;
  justify-self: center;
  align-self:center;
  max-width: 900px;
  text-align: center;
  margin: auto 30px;
}
.area-8{
  grid-area: area-8;
  display: block;
  justify-self: center;
  align-self:center;
  max-width: 900px;
  text-align: center;
  margin: auto 30px;
}
.area-9{
  grid-area: area-9;
  display: block;
  justify-self: center;
  align-self:center;
  max-width: 900px;
  text-align: center;
  margin: auto 30px;
}
.area-10{
  grid-area: area-10;
  display: block;
  justify-self: center;
  align-self:center;
  max-width: 900px;
  text-align: center;
  margin: auto 30px;
}
.area-11{
  grid-area: area-11;
  display: block;
  justify-self: center;
  align-self:center;
  max-width: 900px;
  text-align: center;
  margin: auto 30px;
}
.area-12{
  grid-area: area-12;
  display: block;
  justify-self: center;
  align-self:center;
  max-width: 900px;
  text-align: center;
  margin: auto 30px;
}
.area-13{
  grid-area: area-13;
  display: block;
  justify-self: center;
  align-self:center;
  max-width: 900px;
  text-align: center;
  margin: auto 30px;
}
.area-14{
  grid-area: area-14;
  display: block;
  justify-self: center;
  align-self:center;
  max-width: 900px;
  text-align: center;
  margin: auto 30px;
}
.area-15{
  grid-area: area-15;
  display: block;
  justify-self: center;
  align-self:center;
  max-width: 900px;
  text-align: center;
  margin: auto 30px;
}
.area-16{
  grid-area: area-16;
  padding-bottom: 20px;
}
.area-16, #p_icon_1, #p_icon_2, #p_icon3 {
    /* display: inline;
    justify-content:center;
    align-self:flex-end; */
    display: flex;
    flex-wrap: nowrap;
    justify-content:flex-end;
    align-self:flex-end;

}
h2 {
  font-size: 30px;
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px gray;
}
h3{
  font-size: 16px;
}
h1, h2, h3, h4 {
	text-align: center;
}
p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
  padding: 3px 0 0 0;
  margin: 0 0;
}
img {
	padding: 20px 15px 0 15px;
}
.form-reg p {
	font-size: 12px;
}
input:focus:invalid {
  outline-style: ridge;
  outline-color: red;
}
.form-login{
	 display: block;
	 margin: 1em 1em;
}
form { 
  margin: 1.5em auto;
  width: 250px;
  padding: 0.8em;
  border: 4px groove rgb(185, 207, 141);
  border-radius: 10px;
  background-color: #ebfdef;
} 
ul {
  list-style: none;
}
form li + li{
  margin-top: 1em;
}
label {
  display: block;
  width: auto;
  text-align:center;
}
input,
textarea {
  font: 1em sans-serif;
  width: 180px;
  box-sizing: border-box;
  border: 1px solid #001;
  /* margin: 0 0 0 -32px; */
  justify-self: left;
}
input:focus,
textarea:focus {
  border-color: #000;
}
.button_log{
  display: inline-block;
  padding: 1em 1em 0em 1em;
}
#form_email{
  width: 750px;
}
/* #button_login{
  background-color: rgb(186, 245, 193);
}
#button_logout{
  background-color: rgb(245, 229, 186);
} при любых изменениях -> превращаются из дефолтных изящных в чопорные*/


