
 /*  Список упрощающих жизнь замечаний: 1) всё можно подряд описать в 1 блоке;
    2) порядок строф в простом случае не важен;
    3) фигурные скобки рулсета ставятся столбцом, чтобы легче отследить,
    но можно и одной строкой (в уё..щных кодах так и делается);
 */

html {
  font-size: 10px;
  
  font-family: 'Potta One', cursive;
  /*зачем и здесь прописывать шрифт - хз, но без этого по умолчанию включится*/
  /* this should be the rest of the output you got from Google fonts */
 background-color: #FDF9D8;    /* - жёлтый*/
 
}
body {
  width: 700px;
  margin: 20px auto;    /* - auto равные расстояния слева и справа*/
  background-color: #EBFDFD;      /* - голубой*/
  padding: 0 20px 0px 20px;    /* - верх-право-низ-лево */
  border: 5px solid black;
  text-align: center;
}

h1 {
  font-size: 50px;
  text-align: center;
  
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px gray;
}

h1, h2, h3, h4 {
	text-align: center;
}

p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
  padding: 3px 0 0 0;
  margin: 0 0;
}

img {
	padding: 20px 15px 0 15px
}

   /* dilogue via email form*/
form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 400px;
  /* Form outline */
  padding: 1em;
  border: 2px solid #001;    /* чисто чёрный*/
  border-radius: 1em;
  background-color: #EBFDFD;
  
  position: static;   /* ПОЗИЦИОНИРОВАНИЕ ФОРМЫ - какого-то хуя сбилось!!!*/
  bottom: -20%;
  right: -14%;      /* ПОЗИЦИОНИРОВАНИЕ обеих ФОРМ почему-то отталкивается
                       от одной картинки, хотя между ними целая биография*/
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li+ li{
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #001;
}


input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: .5em;
}


